h3{
    text-align: center;
}
.hover{
    color: orange;
}


.A1{
    margin: auto;
    background-color: #f2eded;
    border-color: blue;
    width: 40%;

}
.f{
    border-color: black;
}
#i{text-align: center;}
h1{
    text-align: right;
}
h2{
    text-align: center;
}
.button{
    text-align: center;
}