<h1>Ajouter  absence </h1> <br>
<form #y="ngForm">
<label>Classe</label>
<input name="text" name="Classe"  #i="ngModel" ngModel> <br>

<label>NameE</label>
<input type="text" name="NameE" #i="ngModel" ngModel> <br>

<label>NameP</label>
<input type="text" name="Namep" #t="ngModel" ngModel><br>
<label>EmailE</label>
<input type="text" name="EmailE" #d="ngModel" ngModel><br>

<label>EmailP</label>
<input type="text" name="EmailP" #d="ngModel" ngModel><br>

<label>Date_absence </label>
<input  type="date" id="start" name="trip-start"value="2018-07-22" name="Date_abs" #p="ngModel" ngModel> <br>

<label>heuresc</label>
<input type="time" name="appt"min="00:00" max="23:59" required name="heuresc" #s="ngModel" ngModel> <br>
<label>matiere</label>
<input type="text" name="matiere" #e="ngModel" ngModel> <br>
<input type="reset" value="Reset"> 
<input type="submit" value="ADD" (click)="ajouterabs(y.value)">

</form>


