<table border="2" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date_seance</th>
            <th>Heure_debut</th>
            <th>Duree</th>
            <th>Description</th>
            <th>actions</th>
           
            
        </tr>
    </thead>
    
    
    <tbody>
        <tr *ngFor="let item of dataArray  index as i" > 

            <td> {{item.Name}} </td> 
            
            <td>{{item.Type}}</td>
            <td>{{item.Date_seance}} </td>
            <td>{{item.Heure_debut}}</td>
            <td>{{item.Duree}}</td>
            <td>{{item.Description}}</td>
            <td>


             
  
                <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(item.Name,item.Type,item.Date_seance,
                item.Heure_debut,item.Duree,item.Description,item._id)"> update club</button>
                
                <button  (click)=" delete(item._id,i)">supprimer club</button>
            </td>
            
          
          
        </tr>

        
        
    </tbody>
</table> 
<h3><button><a routerLink="/create">Ajouter club</a></button></h3>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1 id="h1">Modifier club</h1>
            <form  class="A1" #y="ngForm" (ngSubmit)=" updateclubInofrmations(y)">
            <label id="l">Name</label>
            <input type="text" name="Name" #i="ngModel" ngModel [(ngModel)]="dataclub.Name" >
            <label id="l">Type</label>
            <input type="text" name="Type" #t="ngModel" ngModel [(ngModel)]="dataclub.Type">
            <label id="l">Date_seance</label>
            <input type="text" name="Date_seance" #d="ngModel" ngModel [(ngModel)]="dataclub.Date_seance">
            <label id="l">Heure_debut</label>
            <input type="text" name="Heure_debut" #p="ngModel" ngModel [(ngModel)]="dataclub.Heure_debut">
            <label id="l">Duree</label>
            <input type="text" name="Duree" #p="ngModel" ngModel [(ngModel)]="dataclub.Duree">
            <label id="l">Description</label>
            <input type="text" name="Description" #e="ngModel" ngModel [(ngModel)]="dataclub.Description"> <br><br>
            <input type="submit" class="btn btn-secondary" value="Mettre a jour" id="btn">
            
            </form>
            <br>
            
            
            
            
            
        </div>
        <div class="modal-footer">
         
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          
        </div>
      </div>
    </div>
  </div>

