<table border="2" >
    <thead>
        <tr>
            <th>Designation</th>
            <th>nomcour</th>
            <th>nomEnseignant</th>
            <th>chapitre</th>
            <th>Image</th>
            <div *ngIf="accountType=='Professeur'" >
            <th>actions</th>
            </div>
           
           
            
        </tr>
    </thead>
    
    
    <tbody>
        <tr *ngFor="let item of dataArray  index as i" > 

            <td> {{item.Designation}} </td>   
            <td>{{item.nomcour}} </td>
            <td>{{item.nomEnseignant}}</td>
            <td>{{item.chapitre}}</td>
            <td> <img src="http://localhost:3000/images/{{item.imageUrl}}" width="200" height="100"></td> 

           


            <div *ngIf="accountType=='Professeur'" >
           <td>
               <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(item.Designation,item.nomcour,item.nomEnseignant,
                item.chapitre,item._id)"> update cours</button> 
                
                <button  (click)=" delete(item._id,i)">supprimer cours</button>
            </td> 
            
            </div>
          
        </tr>

      

        
        
    </tbody>
</table> 
<div *ngIf="accountType=='Professeur'" >
<h3><button><a routerLink="/createC">Ajouter cours</a></button></h3>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1>modifier cour</h1>
            <form #y="ngForm" (ngSubmit)=" updatecourInofrmations(y)">
            <label>Designation</label>
            <input type="text" name="Designation" #i="ngModel" ngModel [(ngModel)]="datacour.Designation" >
            <label>nomcour</label>
            <input type="text" name="nomcour" #t="ngModel" ngModel [(ngModel)]="datacour.nomcour">
            <label>nomEnseignant</label>
            <input type="text" name="nomEnseignant" #d="ngModel" ngModel [(ngModel)]="datacour.nomEnseignant">
            <label>chapitre</label>
            <input type="text" name="chapitre" #p="ngModel" ngModel [(ngModel)]="datacour.chapitre">
           
            <input type="submit" value="Mettre a jour" >
            
            </form>
         
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>