<table  style="text-align:center" class="table" border="2">
  <thead class="thead-dark">
    <tr style="text-align:center" >
            <th scope="col" >Designation</th>
            <th scope="col" > nom du cour</th>
            <th scope="col">nom de l'enseignant</th>
            <th scope="col">chapitre</th>
            <div *ngIf="accountType=='Professeur'" >
           
              <th width="10%"  >actions</th> 
            </div>
           
           
            
        </tr>
    </thead>
    
    
    <tbody>
        <tr *ngFor="let item of dataArray  index as i" > 

            <td> {{item.Designation}} </td>   
            <td>{{item.nomcour}} </td>
            <td>{{item.nomEnseignant}}</td>
            <td>{{item.chapitre}}</td>
           


            <div *ngIf="accountType=='Professeur'" >
           <td width="10%">
               <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(item.Designation,item.nomcour,item.nomEnseignant,
                item.chapitre,item._id)"> Modifier  cours</button> 
                
                <button  (click)=" delete(item._id,i)">supprimer cours</button>
            </td> 
            
            </div>
          
        </tr>

      

        
        
    </tbody>
</table> 
<div *ngIf="accountType=='Professeur'" >
<h3><button><a routerLink="/createC">Ajouter cours</a></button></h3>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1 id="h1">modifier cour</h1>
            <form #y="ngForm" (ngSubmit)=" updatecourInofrmations(y)">
            <label>Designation</label><br>
            <input type="text" name="Designation" #i="ngModel" ngModel [(ngModel)]="datacour.Designation" ><br>
            <label>nom du cour</label><br>
            <input type="text" name="nomcour" #t="ngModel" ngModel [(ngModel)]="datacour.nomcour"><br>
            <label>nomde l'enseignant</label><br>
            <input type="text" name="nomEnseignant" #d="ngModel" ngModel [(ngModel)]="datacour.nomEnseignant" ><br>
            <label>chapitre</label><br>
            <input type="text" name="chapitre" #p="ngModel" ngModel [(ngModel)]="datacour.chapitre"><br>
            <br>
            <input type="submit" value="Mettre a jour" >
            
            </form>
         
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          
        </div>
      </div>
    </div>
  </div>