<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset style="width: max-content; display: block; margin: auto;">
        <legend> Create an account</legend>
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Name</td>
                    <td> <input type="text" name="name"> </td>
                </tr>
                <tr>
                    <td>IBAN</td>
                    <td> <input type="text" name="iban"> </td>
                </tr>
                <tr>
                    <td>Expiry</td>
                    <td> <input type="text" name="expiry"> </td>
                </tr>
                <tr>
                    <td> Identity </td>
                    <td> <input type="file" name="image" id=""> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <input type="submit" value="save"> </td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>