<table border="2" >
    <thead>
        <tr>
            <th>Niveau</th>
            <th>Classe</th>
            <th>Nombre Max d'élèves</th>
            <th>Professeur </th>
            
        </tr>
    </thead>
  
  
    <tbody>
        <tr *ngFor="let cl of dataArray  index as i" >
  
            <td>{{cl.NivCls}} </td>
            <td>{{cl.ClsID}} </td>
            <td>{{cl.NbrEleves}}</td>
            <td>{{cl.emailP}} </td>
            <div *ngIf="accountType=='Admin'" >
            <td>
  
                <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(cl.NivCls,cl.ClsID,cl.NbrEleves,cl.emailP,cl.email,cl._id)"> Update Classe</button>
  
                <button  (click)=" deleteClasse(cl._id,i)">Supprimer Classe</button>
  
            </td>
            </div>
  
        </tr>
    </tbody>
  </table>
  <br>
  <div *ngIf="accountType=='Admin'" >
  <h5><button><a routerLink="/classes/create">Ajouter Classe</a></button></h5>
  <br>  
</div>
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier Classe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1 id="h1">Modifier Classe</h1>

            <form  class="A1" #y="ngForm" (ngSubmit)=" updateClasse(y)">
  <br>
            <label id="l">Classe</label>
            <input type="text" name="ClsID" #a="ngModel" ngModel [(ngModel)]="dataclasse.ClsID" >
  <br>
            <label id="l">Nombre Max d'élèves</label>
            <input type="text" name="NbrEleves" #b="ngModel" ngModel [(ngModel)]="dataclasse.NbrEleves">
  <br>
            <label id="l">Professeur</label>
            <input type="text" name="emailP" #c="ngModel" ngModel [(ngModel)]="dataclasse.emailP">
  
            
             <br><br>
  
            <input type="submit" class="btn btn-secondary" value="Mettre a jour" id="btn">
            </form>
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>