<table border="2" >
  <thead>
      <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>email</th>
          <th>Adresse</th>
          <th>Sexe</th>
          <th>Date de naissance</th>
      </tr>
  </thead>


  <tbody>
      <tr *ngFor="let e of dataArray  index as i" >

          <td>{{e.nom}} </td>
          <td>{{e.prenom}}</td>
          <td>{{e.email}} </td>
          <td>{{e.adresse}}</td>
          <td>{{e.isActive}}</td>
          <td>{{e.dateDeNaissance.substring(0,10)}}</td>
          <td>

              <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="getdata(e.email,e.ActivationCode,e.accountType,
              e.nom,e.prenom,e.dateDeNaissance,e.adresse,e.isActive,e.classe,e.club,e._id)"> Modifier élève</button>

              <button  (click)=" delete(e._id,i)">Supprimer élève</button>

          </td>

      </tr>
  </tbody>
</table>
<h3><button><a routerLink="/eleves/create">Ajouter eleve</a></button></h3>
<br>
<button  (click)="pdfuser()" >
  Telecharger La liste </button>
  
  <h3>{{msg}}</h3>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Eleve</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h1 id="h1">Modifier élève</h1>
          <form  class="A1" #y="ngForm" (ngSubmit)=" updateuser(y)">
            <br>
          <label id="l">Email</label>
          <input type="text" name="email" #a="ngModel" ngModel [(ngModel)]="datauser.email" >
          <br>
          <label id="l">Password</label>
          <input type="text" name="ActivationCode" #b="ngModel" ngModel [(ngModel)]="datauser.ActivationCode">
          <br>
          <label>Account Type</label>
          <select name="accountType" #d="ngModel" ngModel>
            <option value="">--Selectionnez le rôle--</option>
            <option value="Admin">Admin</option>
            <option value="Eleve">Eleve</option>
            <option value="Professeur">Professeur</option> 
        </select>
        <br>
          <label id="l">Nom</label>
          <input type="text" name="nom" #d="ngModel" ngModel [(ngModel)]="datauser.nom">
          <br>
          <label id="l">Prenom</label>
          <input type="text" name="prenom" #e="ngModel" ngModel [(ngModel)]="datauser.prenom">
          <br>
          <label id="l">Date de naissance</label>
          <input  type="date" id="start" name="trip-start"value="2018-07-22" name="dateDeNaissance" #p="ngModel" ngModel> 
          <br>
          <label id="l">Adresse</label>
          <input type="text" name="adresse" #g="ngModel" ngModel [(ngModel)]="datauser.adresse">
          <br>
          <label id="l">Sexe</label>
          <input type="text" name="isActive" #h="ngModel" ngModel [(ngModel)]="datauser.isActive">
          <br>
          <label id="l">Classe</label>
          <input type="text" name="classe" #i="ngModel" ngModel [(ngModel)]="datauser.classe">
          <br>
          <label id="l">Club</label>
          <input type="text" name="club" #j="ngModel" ngModel [(ngModel)]="datauser.club"> <br><br>
          <br>
          <input type="submit" class="btn btn-secondary" value="Mettre a jour" id="btn">
          <br>
          </form>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
