<!-- <table border="2" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Free</th>
            <th>Price</th>
            <th>Date_event</th>
            <th>Date_fin_event</th>
            <th>Heure_debut</th>
            <th>Lieu</th>
            <th>Nbr_place</th>
            <th>Nom_Club</th>
            <th>Image</th>
            
           
            
        </tr>
    </thead>

    
    
    <tbody>
       <tr>
          
            <td> {{data.Name}} </td> 
            
            <td>{{data.Type}}</td>
            <td>{{data.Free}} </td>
            <td>{{data.Price}}</td>
            <td>{{data.Date_event}}</td>
            <td>{{data.Date_fin_event}}</td>
            <td>{{data.Heure_debut}} </td>
            <td>{{data.Lieu}}</td>
            <td>{{data.Nbr_place}}</td>
            <td>{{data.Nom_Club}}</td>
            <td> <img src="http://localhost:3000/images/{{data.Image}}" width="100" height="100"></td> 
            
            
        </tr>  
        
    </tbody>
</table>
<h2><button  [routerLink]="['/evenements']" class="btn btn-primary" href="">Retour</button></h2> -->


<h1>Détails de l'évenement</h1>
<img  src="http://localhost:3000/images/{{data.Image}}" 
    class="img-fluid" alt="Responsive image" width="200" height="200">


<br>

    
    

         <a> 
        
             Nom de l'évenement :{{data.Name}} <br>
             Type  : {{data.Type}}<br>
             Free : {{data.Free}} <br>
             Price : {{data.Price}}<br>
             Date_event : {{data.Date_event.substring(0,10)}}<br>
             Date_fin_event : {{data.Date_fin_event.substring(0,10)}}<br>
             Heure_debut : {{data.Heure_debut}} <br>
             Lieu : {{data.Lieu}}<br>
             Nbr_place : {{data.Nbr_place}}<br>
             Nom_Club : {{data.Nom_Club}}<br>
        </a>
           
            <!-- <td> <img src="http://localhost:3000/images/{{data.Logo}}" width="200" height="100"></td>  -->
            
            
      
<h2><button  [routerLink]="['/evenements']" class="btn btn-primary" href="">Retour</button></h2>




