<table border="2" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Free</th>
            <th>Price</th>
            <th>Date_event</th>
            <th>Date_fin_event</th>
            <th>Heure_debut</th>
            <th>Lieu</th>
            <th>Nbr_place</th>
            <th>Nom_Club</th>
            <th>Image</th>
            
           
            
        </tr>
    </thead>

    
    
    <tbody>
       <tr>
          
            <td> {{data.Name}} </td> 
            
            <td>{{data.Type}}</td>
            <td>{{data.Free}} </td>
            <td>{{data.Price}}</td>
            <td>{{data.Date_event}}</td>
            <td>{{data.Date_fin_event}}</td>
            <td>{{data.Heure_debut}} </td>
            <td>{{data.Lieu}}</td>
            <td>{{data.Nbr_place}}</td>
            <td>{{data.Nom_Club}}</td>
            <td> <img src="http://localhost:3000/images/'{{data.Image}}'"></td> 
            
            
        </tr>

      
            
          
          
      

        
        
    </tbody>
</table>