
<h1>Ajouter notes</h1>
<form #y="ngForm">
<label>Designation</label><br>
<input type="text" name="Designation" #i="ngModel" ngModel><br>
<label>nomEnseignant</label> <br>
<input type="text" name="nomEnseignant" #t="ngModel" ngModel> <br>

<label>EmailE</label><br>
<input type="text" name="EmailE" #t="ngModel" ngModel> <br>
<label>EmailP</label><br>
<input type="text" name="EmailP" #d="ngModel" ngModel><br>


<label>noteCc</label><br>
<input type="text" name="noteCc" #d="ngModel" ngModel><br>
<label>noteExam</label><br>
<input type="text" name="noteExam" #p="ngModel" ngModel><br>

<input type="submit" value="Ajouter" (click)="ajouternote(y.value)">

</form>



