
  

    <table class="table" border="2">
      <thead class="thead-dark">
        <tr>
         
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Free</th>
          <th scope="col">Price</th>
          <th scope="col">Date event</th>
          <th scope="col">Date  fin</th>
          <th scope="col">Heure debut</th>
          <th scope="col">Lieu</th>
          <th scope="col">Nbr place</th>
          <th scope="col">Nom Club</th>


          <div *ngIf="accountType=='Admin'" >

          <th scope="col">Actions</th>
          <th scope="col">Actions</th>
          <th scope="col">Actions</th>
          <th>FB  </th>
          
          </div>
          
        </tr>
      </thead>
      
        <tbody>
          <tr *ngFor="let item of dataArray index as i">
            
  
              <td> {{item.Name}} </td> 
              
              <td>{{item.Type}}</td>
              <td>{{item.Free}} </td>
              <td>{{item.Price}}</td>
              <td>{{item.Date_event.substring(0,10)}}</td>
              <td>{{item.Date_fin_event.substring(0,10)  }}</td>
              <td>{{item.Heure_debut}} </td>
              <td>{{item.Lieu}}</td>
              <td>{{item.Nbr_place}}</td>
              <td>{{item.Nom_Club}}</td>
              <!-- <td> <img src="http://localhost:3000/images/{{item.images}}"></td> -->
            
  
  
              
              <div *ngIf="accountType=='Admin'" >
                  <td>
                 <button   class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#exampleModal"
                  (click)="getdataevent(item.Name,item.Type,item.Free,
                  item.Price,item.Date_event,item.Date_fin_event,item.Heure_debut,
                  item.Lieu,item.Nbr_place,item.Nom_Club,
                  item._id)"> Update</button>
                  
                  
                  <button class="btn  btn-sm btn-success" [routerLink]="['/show/'+item._id]" >show </button> 
                 <!--<input type="submit" class="btn-primary" [routerLink]="['/show']" value="Show">-->

               
                 <button class="btn  btn-danger" (click)=" delete(item._id,i)">Delete</button>
              
                  
                 
                 <button class="facebook"  (click)=" facebook(item._id)">
                 <a class="btn btn-outline-light btn-square mr-2" ><i class="fab fa-facebook-f"></i></a>
                  <!--<a href="#" class="fa fa-facebook"></a>-->
                  </button>
                </td>
                </div>
                  

               

                 
                  
              
  
          </tr>    
      </tbody>
      
    </table>
    <div *ngIf="accountType=='Admin'" >
    
   <!--<h3> <input type="submit" class="btn-primary" [routerLink]="['/createE']" value="Ajouter Evenements" id="a"> </h3>-->

   <h2><button  [routerLink]="['/createE']" class="btn btn-primary" href="">Ajouter evenement</button></h2>
   </div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1 id="h1">Modifier evenement</h1>
            <form class="A1" #y="ngForm" (ngSubmit)=" updateeventInofrmations(y)">
            <label id="l">Name</label>
            <input type="text" name="Name" #i="ngModel" ngModel [(ngModel)]="dataevent.Name" required>
            <label id="l">Type</label>
            <input type="text" name="Type" #t="ngModel" ngModel [(ngModel)]="dataevent.Type" required>
            <label id="l">Free</label>
            <input type="text" name="Free" #d="ngModel" ngModel [(ngModel)]="dataevent.Free" required>
            <label id="l">Price</label>
            <input type="text" name="Price" #p="ngModel" ngModel [(ngModel)]="dataevent.Price" required>
            <label id="l">Date_event</label>
            <input  type="date"  name="trip-start"value="2018-07-22" name="Date_event"
             #i="ngModel" ngModel [(ngModel)]="dataevent.Date_event"> <br>
            
            
            
            <label id="l">Date_fin_event</label>
            <input  type="date"  name="trip-start"value="2018-07-22" name="Date_fin_event"
             #e="ngModel" ngModel [(ngModel)]="dataevent.Date_fin_event" required> <br>
            
            
            
            <label id="l">Heure_debut</label>
            <input type="text" name="Heure_debut" #h="ngModel" ngModel [(ngModel)]="dataevent.Heure_debut" required>
            <label id="l">Lieu</label>
            <input type="text" name="Lieu" #l="ngModel" ngModel [(ngModel)]="dataevent.Lieu" required>
            <label id="l">Nbr_place</label>
            <input type="text" name="Nbr_place" #n="ngModel" ngModel [(ngModel)]="dataevent.Nbr_place" required>
            <label id="l">Nom_Club</label>
            <input type="text" name="Nom_Club" #c="ngModel" ngModel [(ngModel)]="dataevent.Nom_Club" required><br><br>


            <input type="submit" class="btn btn-secondary" value="Mettre a jour" id="btn">
            
            </form>
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



  