
<h1>Ajouter cours</h1>
<form #y="ngForm" (ngSubmit)="ajoutercour(y)">
<label>Designation</label>
<input type="text" name="Designation" #i="ngModel" ngModel>
<label>nomcour</label>
<input type="text" name="nomcour" #t="ngModel" ngModel>
<label>nomEnseignant</label>
<input type="text" name="nomEnseignant" #d="ngModel" ngModel>
<label>chapitre</label>
<input type="text" name="chapitre" #p="ngModel" ngModel>


<input type="file" id="basic-addon-name" class="form-control" placeholder="Image" 
                    aria-label="Name" aria-describedby="basic-addon-name" required 
                    name="imageUrl" #imageUrl="ngModel" ngModel (change)="selectImage($event)" />

<input type="submit" value="Ajouter" >


</form>



