<table border="2" >
    <thead>
        <tr>
            <th>Nom Parent</th>
            <th>Email Eleve</th>
            <th>Email Parent</th>
            <th>Date_rendez vous </th>
            <th>heure_rendez vous </th>
            <th>cause</th>

            <div *ngIf="accountType=='Admin'" >
            <th>actions</th>
            </div>
           
            
        </tr>
    </thead>
    

 
    
    <tbody>
        <tr *ngFor="let item of dataArray  index as i" > 
          <td  *ngIf="email==item.EmailE"> {{item.Namep}} </td> 
          <td  *ngIf="email==item.EmailE"> {{item.EmailE}} </td>
          <td  *ngIf="email==item.EmailE"> {{item.EmailP}} </td> 
          <td  *ngIf="email==item.EmailE">{{item.Date_r.substring(0,10)}}  </td>
          <td  *ngIf="email==item.EmailE">{{item.heure_r}} </td>
          <td  *ngIf="email==item.EmailE">{{item.cause}} </td>


          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.Namep}} </td>
          
          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.EmailE}} </td>
          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.EmailP}} </td>
          
          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.Date_r.substring(0,10)}} </td>
          
          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.heure_r}} </td>
          <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.cause}} </td>
          

            <!-- <td> {{item.Namep}} </td> 
            
            <td>{{item.Emailp}}</td>
            <td>{{item.Date_r}} </td>
            <td>{{item.heure_r}}</td>
            <td>{{item.cause}}</td> -->
           
            <div *ngIf="accountType=='Admin'" >
            <td>

                
  
                <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(item.Namep,item.EmailE,item.EmailP,item.Date_r,
                item.heure_r,item.cause,item._id)"> update rdv</button>
                
                <button  (click)=" delete(item._id,i)">supprimer rend vouz</button>
            </td>
          </div>
          
          
        </tr>

        
        
      
    </tbody>
</table> 
<div *ngIf="accountType=='Admin'" >
<h3><button><a routerLink="/createrdv">Ajouter rdv</a></button></h3>



<div style="text-align: center">

<button (click)="exeldownload()">
  TÉLÉCHARGER 
</button>
<h5>{{msg}} </h5>
</div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1>modifier rend vouz</h1>
            <form #y="ngForm" (ngSubmit)=" updaterdv(y)">
            <label>Name parent</label>
            <input type="text" name="Namep" #i="ngModel"  ngModel [(ngModel)]="datardv.Namep" > <br>
            <label>Email Eleve</label>
            <input type="text" name="EmailE" #t="ngModel" ngModel [(ngModel)]="datardv.EmailE"> <br>

            <label>Email Parent</label>
            <input type="text" name="EmailP" #t="ngModel" ngModel [(ngModel)]="datardv.EmailP"> <br>

            <label>Date_rendez vous </label>
            <input type="text" name="Date_r" #d="ngModel" ngModel [(ngModel)]="datardv.Date_r"><br>
            <label>heure_rendez vous </label>
            <input type="text" name="heure_r" #p="ngModel" ngModel [(ngModel)]="datardv.heure_r"><br>
            <label>cause</label>
            <input type="text" name="cause" #p="ngModel" ngModel [(ngModel)]="datardv.cause"><br>
            <input type="submit" value="Mettre a jour" >
            
            </form>
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

