
<table  border="2" >
    <thead>
        <tr>
          <th>Classe</th>
            <th>Name Eleve</th>
            <th>Name parent</th>
            <th>Email Eleve</th>
            <th>Email Parent</th>
            <th>Date_abs</th>
            <th>heuresc</th>
            <th>matiere</th>

            <div *ngIf="accountType=='Professeur'" >
            <th>actions</th>
          </div>
           
            
        </tr>
    </thead>
      
    <tbody>
      

        <tr *ngFor="let item of dataArray  index as i"  > 

          

            <td  *ngIf="email==item.EmailE"> {{item.Classe}} </td>
            <td  *ngIf="email==item.EmailE"> {{item.NameE}} </td> 
            <td  *ngIf="email==item.EmailE">{{item.Namep}}  </td>
            <td  *ngIf="email==item.EmailE">{{item.EmailE}} </td>
            <td  *ngIf="email==item.EmailE">{{item.EmailP}} </td>
            <td  *ngIf="email==item.EmailE">{{item.Date_abs.substring(0,10)}}</td>
            <td  *ngIf="email==item.EmailE">{{item.heuresc}}</td>
            <td  *ngIf="email==item.EmailE">{{item.matiere}}</td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.Classe}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.NameE}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.Namep}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.EmailE}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.EmailP}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.Date_abs.substring(0,10)}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.heuresc}} </td>
            <td *ngIf="accountType=='Professeur'||accountType=='Admin'"> {{item.matiere}} </td>
            
            
          
          
          
            <div *ngIf="accountType=='Professeur'" >
            <td>
               <button   class="btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="getdata(item.Classe,item.NameE,item.Namep,item.EmailE,item.EmailP,
                item.Date_abs,item.heuresc,item.matiere,item._id)"> update abs</button>
                
                <button  (click)=" delete(item._id,i)">supprimer abs</button> 
            
            </td>
          </div>
            
        
          
        </tr>
        
    </tbody>
</table> 
<div *ngIf="accountType=='Professeur'" >
<h3><button><a routerLink="/createabs">Ajouter Absence</a></button></h3></div>




<div *ngIf="accountType!='Eleve'" >

<div style="text-align: center">

  <button (click)="exeldownload()">
    TÉLÉCHARGER
  </button>
  <h5>{{msg}} </h5>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1>modifier rend vouz</h1>
            <form #y="ngForm"  (ngSubmit)=" updateabs(y)">
              <label>Classe</label>
              <input type="text" name="NameE" #i="ngModel"  ngModel [(ngModel)]="dataabs.Classe" > <br>
   
    

            <label>Name Eleve</label>
            <input type="text" name="NameE" #i="ngModel"  ngModel [(ngModel)]="dataabs.NameE" > <br>
            <label>Name Parent</label>
            <input type="text" name="Namep" #t="ngModel" ngModel [(ngModel)]="dataabs.Namep"> <br>
            <label>Email Eleve</label>
            <input type="text" name="EmailE" #d="ngModel" ngModel [(ngModel)]="dataabs.EmailE"><br>
            <label>Email Parent</label>
            <input type="text" name="EmailP" #d="ngModel" ngModel [(ngModel)]="dataabs.EmailP"><br>
            <label>Date_abs</label>
            <input type="text" name="Date_abs" #p="ngModel" ngModel [(ngModel)]="dataabs.Date_abs"><br>
            <label>heuresc</label>
            <input type="text" name="heuresc" #p="ngModel" ngModel [(ngModel)]="dataabs.heuresc"><br>
            <label>matiere</label>
            <input type="text" name="matiere" #p="ngModel" ngModel [(ngModel)]="dataabs.matiere"><br>
            <input type="submit" value="Mettre a jour" >
          
          
            </form>
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

        
        
